@page "/{number:int?}"
@inject SiteConfigOptions siteConfig
@using ButtsBlazor.Api.Services
@{
    Layout = "Shared/_Layout";
    ViewData["Title"] = siteConfig.DecodedHomeTitle;
    ViewData["NoVendorCss"] = true;
}

<div id="content" class="fullscreen">
    <div class="image-controls lb-data top">
        <div class="refesh-container">
            <span class="lb-caption">protobooth.com</span>
        </div>
    </div>
    <div id="spinner" class="loading-container" style="z-index: -1">
        <img src="@siteConfig.LoaderImage" width="100" height="100" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="circle-notch" class="spin loading-icon" role="img" />
    </div>

        @if (siteConfig.IsWhiteTransparent)
        {
            <style>
                .fullscreen-content #photo {
                    mix-blend-mode: multiply;
                }
            </style>
        }
            <div id="photoContainer" class="fade fullscreen-content">
                 <img  class="photo" />
             </div>
        <div class="image-controls lb-data">
            <div class="qr-container">
                @* <canvas id="qrCode" class="qr-code" ></canvas> *@
                <img id="qrCode" class="qr-code" />
            </div>
                <div class="refesh-container">
                    <span id="caption" class="lb-caption"></span>
                    <span id="refresh-box" class="lb-refresh">
                        <span>Next: </span>
                        <span id="timer"></span>
                    </span>
                    <div id="play-link"></div>
                </div>
                @*             <span id="shareLink" data-share="device facebook twitter" data-share-label="Share on" data-share-device="Share using device sharing"></span>
     *@
                </div>

</div>
@* 

<div id="lightboxSet" style="display: none">
    <a data-lightbox="butts-set" id="imageBox" data-title="Butts!">
        <img id="imageBoxThumb" />
    </a>
</div>
 *@
 <script type="text/javascript">
    window.clientOptions = {
    urlBase: "/api/butts",
    refreshTimer: @(siteConfig.RandomImageDisplaySeconds) * 1000,
    latestRefreshTimer: @(siteConfig.NewImageDisplaySeconds) * 1000,
    indexRefreshTimer: @(siteConfig.IndexRefreshSeconds ?? 0) * 1000,
    preloadCount: 5,
    maxNavSpeed: 100,
    };
    window.defaultImageType = '@siteConfig.DefaultImageType.ToString()';
    if(window.infiniteButts) {
        window.infiniteButts.option(window.clientOptions);
    }
 </script>
   
@section Scripts {
    @* <script src="/js/runtime.js?ver=8"></script>
    <script src="/js/jquery.js?ver=314"></script>
    <script src="/js/bootstrap.js?ver=8"></script>
    <script src="/js/vendors.js?ver=8"></script> *@
    <script src="/js/infiniteButts.js?ver=836daae22266d8a6f59d"></script>

}